@model string
@{
    ViewData["Title"] = "Naru Shortnenr";
    Layout = "_Layout";
}


    
        <form class="custom-form" method="post">
            <div class="form-group">
                <label for="longUrl" style="color: #007bff;">Enter URL:</label>
                <input type="text" class="form-control" id="longUrl" name="newurl" required>
            </div>
            <div asp-validation-summary="All" class="help-block"></div>
            <button type="submit" class="custom-btn">Submit</button>
        </form>


