<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Naru_Shortner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Naru_Shortner.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-container {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 100px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .custom-form {
            max-width: 1200px;
            margin: 0 auto;
        }

        .custom-btn {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
        }

        .custom-btn2 {
            background-color:red;
            color: #ffffff;
            border: none;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
        }

            .custom-btn:hover {
                background-color: #0056b3;
            }

        /* Increase the text field size */
        .form-control {
            height: 50px;
            font-size: 16px;
            width: 720px; /* Set the width to 100% for a wider text field */
        }

        .help-block ul {
            list-style-type: none;
            color: red;
        }
    </style>
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="custom-container text-center">
        <h1 style="color: #007bff;">Naru Shortner</h1>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
